.bitcoin-container {
    margin-left: 3px;
    padding: 4px 8px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.bitcoin-container:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.button-pressed {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(0.95);
}

.fade-out {
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    background-color: transparent;
    transform: scale(1);
}

.bitcoin-price {
    color: #ffffff;
    font-size: 12pt;
    font-weight: bold;
    margin-right: 5px;
}

.separator-label {
    color: #1BD96A;
    font-size: 12pt;
    font-weight: bold;
    margin: 0 5px;
}

.positive-change {
    color: #4CAF50;
    font-size: 12pt;
    font-weight: bold;
    margin-left: 5px;
}

.negative-change {
    color: #F44336;
    font-size: 12pt;
    font-weight: bold;
    margin-left: 5px;
}

.bitcoin-error {
    color: #ffffff;
    opacity: 0.7;
    font-size: 12pt;
    font-style: italic;
}
